<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="apple-touch-icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
            <p>Enter a city, state, zip code, street, or address into the input and you will get the weather for that location</p>
        </div>
        {{>footer}}
    </body>
</html>